@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root :is(header, footer) {
  background-color: rgb(227, 227, 236);
}

header {
  border-bottom: 0.05rem solid rgb(163, 163, 182);
}

header h1 {
  margin: 0;
  color: black;
}

footer {
  border-top: 0.05rem solid rgb(163, 163, 182);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

h2 {
  color: #0e54a3;
}

h3 {
  color: #0e54a3;
}

aside {
  border-right: 0.1rem solid rgba(80, 110, 219, 0.299);
}

form input, form select {
  outline: 0.01em solid rgba(36, 36, 37, 0.326);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 7px;
}

form input:focus {
  outline: 0.1rem solid rgba(80, 110, 219, 0.299);
}

header a {
  color: #0b0b0c;
  font-weight: 600;
}

header a:is(.active), header a:hover {
  color: #50a2ff;
}

@media (max-width: 981px) {
  aside {
    display: none;
  }

  .menu-nav-link {
    display: none;
  }

  header a {
    font-weight: 400;
  }
}

@media (min-width: 980px) {
  .dropdown-icon, .dropdown-nav {
    display: none;
  }
}

.button {
  color: #50a2ff;
  font-weight: 500;
  border: 1px solid #50a2ff;
  font-size: 13px;
  padding: 2px 7px;
  border-radius: 25px;
}

.doc-object {
  color: #073e7e;
  font-weight: 500;
  border: 1px solid #073e7e;
  font-size: 13px;
  padding: 2px 7px;
  border-radius: 25px;
}